{% extends 'base.html' %}

{% block content %}
<h1>{{ title|capfirst|title }}</h1>
<p>This is a template</p>

{{ my_html|safe }}
{{ my_html|striptags|slugify }}

<p>
<!-- displaying context elements -->
{{ my_number }}
{{ my_list }}
</p>

<ul>
<!-- loop in context -->
{% for my_sub_item in my_list %}
    <!-- conditionals in templates in Django -->
    {% if my_sub_item == 234 %}
    <li>{{ forloop.counter }} - {{ my_sub_item|add:32 }}</li>
    {% elif my_sub_item == 345 %}
    <li>{{ forloop.counter }} - {{ my_sub_item|add:32 }}</li>
    {% else %}
    <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}